<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodAppManager"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        tools:replace="android:allowBackup,android:icon,android:label">
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:replace="android:screenOrientation,android:theme" />

        <activity
            android:name=".Activities.QrActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SeclectAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PendingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OutForDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AllitemActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddItemActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SignActivity"
            android:exported="true" />
    </application>

</manifest>